<main>
    <nav class="d-flex justify-content-between align-items-center p-3 m-3">
        <div class="logo-img">
            <img src="https://cdn2.thecatapi.com/images/5gu.jpg" role="button"/>
        </div>
        <h1 class="logo-text">Welcome to <b><i>CAT</i></b>alogue</h1>
        <div class="cart">
            <img src="assets/bag-icon.svg" alt="shopping bag icon" role="button" 
            routerLink="/check-out" routerLinkActive="home">
        </div>
    </nav>
    <section class="grid card-container">
        <ng-container *ngFor="let item of items; let idx=index">
            <app-card [canDelete]="false"  [catDetails]="item" [idx]="idx"></app-card>
        </ng-container>
        
    </section>
</main>
